<footer class="footer">
    <div class="footer__container container">
        <div class="footer__inner">
            <a class="logo" href="#">
                <img class="footer__img logo__img" src="images/logo-white.png" alt="logo">
            </a>
            <div class="footer__social">
                <a class="footer__link" href="#">
                    <i class="footer__icon fab fa-twitter"></i>
                </a>
                <a class="footer__link" href="#">
                    <i class="footer__icon fab fa-facebook-square"></i>
                </a>
                <a class="footer__link" href="#">
                    <i class="footer__icon fab fa-linkedin"></i>
                </a>
            </div>
            <span class="footer__copy">
                Just type what's on your mind and we'll
            </span>
        </div>
    </div>
</footer>