<header class="header">
    <div class="header__content">
        <div class="header__container container">
            <h2 class="header__title title">
                Lightning fast prototyping
            </h2>
            <p class="header__subtitle">
                Most calendars are designed for teams. Slate is designed for
                freelancers who want a simple way to plan their schedule.
            </p>
            <a class="header__content-popup" data-fancybox href="#popup">
                <button class="header__content-btn">Try For Free</button>
            </a>
            <div class="popup" id="popup">
                <h2 class="popup__title title">Demonstration of the popup window</h2>
                <p class="popup__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dignissim
                    vulputate eros.
                </p>
                <p class="popup__text">
                    Donec hendrerit efficitur ex vitae euismod. Maecenas ut leo vitae ipsum dictum
                    cursus vel vitae nulla.
                </p>
            </div>
            <div class="header__content-items t-default">
                <img class="header__content-img header__content-img--item1" src="images/header-item-1.png"
                    alt="header image">
                <img class="header__content-img header__content-img--item2" src="images/header-item-2.png"
                    alt="header image">
                <img class="header__content-img header__content-img--item3" src="images/header-item-3.png"
                    alt="header image">
            </div>
        </div>
    </div>
</header>