<div class="navbar">
    <div class="container">
        <div class="row">
            <div class="navbar__inner col">
                <a class="logo" href="#">
                    <img class="logo__img" src="images/logo.png" alt="logo">
                </a>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a class="menu__link" href="#">Home</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">Product</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">About</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">Contact</a>
                        </li>
                    </ul>
                </nav>
                <div class="navbar__user-nav">
                    <a class="navber__link" data-fancybox href="#popup">
                        <button class="navbar__btn">Sign Up</button>
                    </a>
                    <button class="navbar__burger">
                        <svg width="28" height="16" viewBox="0 0 28 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.666656 0H27.3333V2.66667H0.666656V0ZM7.33332 6.66667H27.3333V9.33333H7.33332V6.66667ZM15.6667 13.3333H27.3333V16H15.6667V13.3333Z"
                                fill="black" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>